/* Footer */
footer {
    background-color: $heading-color;
    color: #fff;
    padding: 20px;
    text-align: center;

    .menu-lista-pie {
        list-style: none;
        margin-bottom: 20px;

        li {
            display: inline-block;
            margin-right: 10px;

            a {
                color: #fff;
            }
        }
    }

    .redes-pie {
        margin-top: 20px;

        a {
            color: #fff;
            margin-right: 10px;
        }

        p {
            margin-top: 10px;
        }
    }
}