/* Variables */
$primary-color: rgba(84, 205, 226, 0.76);
$secondary-color: rgba(105, 147, 209, 0.575);
$accent-color: rgba(53, 160, 142, 0.685);
$text-color: #000;
$heading-color: rgb(69, 161, 118);
$background-light: #f4f4f4;
$shadow-color: rgba(0, 0, 0, 0.1);
$button-background: rgba(46, 113, 139, 0.815);