/* Variables */
$primary-color: rgba(194, 221, 106, 0.747);
$secondary-color: rgba(147, 80, 192, 0.575);
$accent-color: rgb(69, 189, 119);
$text-color: #000;
$heading-color: rgb(78, 10, 122);
$background-light: #f4f4f4;
$shadow-color: rgba(0, 0, 0, 0.1);
$button-background: rgb(78, 10, 122);